@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply antialiased;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.bg-menstruation-bg {
  background-image: url('/lovable-uploads/2b9db306-0321-4afe-a659-0a5001878f87.png');
}

.bg-follicular-bg {
  background-image: url('/lovable-uploads/2b9db306-0321-4afe-a659-0a5001878f87.png');
}

.bg-ovulatory-bg {
  background-image: url('/lovable-uploads/2b9db306-0321-4afe-a659-0a5001878f87.png');
}

.bg-luteal-bg {
  background-image: url('/lovable-uploads/2b9db306-0321-4afe-a659-0a5001878f87.png');
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-bounce-slow {
  animation: bounce 3s infinite;
}

.duration-3000 {
  transition-duration: 3000ms;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes boost {
  0% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

.animate-boost {
  animation: boost 1s ease-out forwards;
}
